<%- layout('layout/boilerplate') %>
<h1 class="text-center mb-3">Your Order</h1>

<div class="row row-cols-1 row-cols-md-2">

  <div class="col">
    <div class="card p-3">
      <h2 class="text-center">Your Information</h2>
      <form id="user-data">
        <div class="mb-3">
          <label class="form-label fs-5" for="name">Name</label>
          <input class="form-control" type="text" name="name" id="user-name" required>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Name is required</div>
        </div>
        <div class="mb-3">
          <label class="form-label fs-5" for="email">Email</label>
          <input class="form-control" type="email" name="email" id="user-email" required>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Email is required</div>
        </div>
        <div class="mb-3">
          <label class="form-label fs-5" for="phone">Phone</label>
          <input class="form-control" type="text" name="phone" id="user-phone" required>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Phone is required</div>
        </div>
        <div class="mb-3">
          <label class="form-label fs-5" for="address">Address</label>
          <input class="form-control" type="text" name="address" id="user-address" required>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Address is required</div>
        </div>
      </form>
    </div>
  </div>

  <div class="col container-fluid overflow-auto" id="product-list-cart">
    <div class="row row-cols-1" id="shopping-cart">
    </div>
  </div>
</div>

<div class="row my-3 py-3">
  <div class="col d-flex flex-row align-items-center justify-content-end">
    <div class="fs-5 mx-3">
      <strong>Total Price:</strong>
      $<span id="total-price">0</span>
    </div>
    <button type="button" class="btn btn-success btn-lg" id="submit-order">Submit</button>
  </div>
  
</div>